* {
  margin: 0;
  padding: 0;
}

.background-main {
  background-color: #1f2937;
}
body {
  font-family: "Roboto", arial;
}

/* Nav bar */

.nav-menu {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  padding: 20px 10px;
  margin: 0 150px;
  justify-content: space-evenly;
}

.nav-right {
  display: flex;
  font-size: 0.7em;
  gap: 20px;
  align-items: center;
}
.nav-left {
  display: flex;
  color: #f9faf8;
  font-size: 2em;
  align-items: center;
  flex: 1;
}

.nav-menu li {
  list-style-type: none;
  flex: 1;
}

.nav-menu a {
  text-decoration: none;
  font-size: 1.5em;
  color: #e5e7eb;
}

.nav-menu a:hover {
  text-decoration: none;
  color: pink;
}

/* main body */
.box-large {
  display: flex;
  align-items: flex-start;
  padding: 150px;
  gap: 50px;
}

.box-large img {
  max-width: 100%;
  height: auto;
  width: 400px;
  align-items: center;
}

.content {
  flex: 1;
  padding: 10px;
}

.content h1 {
  font-size: 2em;
  font-weight: bolder;
  color: #f9faf8;
}

.content p {
  font-size: 1.5em;
  color: #e5e7eb;
  margin-top: 10px;
}

.box-med {
  display: flex;
}

.box-med img {
  max-width: 100%;
  height: auto;
  width: 200px;
}

.box-med,
.media {
  display: flex;
  gap: 52px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin-top: 32px;
  margin-bottom: 32px;
}
.media {
  margin: 0 80px 0 80px;
}

.column {
  flex: 1;
  padding: 20px;
}

.qoute {
  margin-top: 20px;
  padding: 50px;
  background-color: #23272c5a;
}

.qoute p {
  text-align: center;
  width: 90%;
}

.qoute footer {
  text-align: end;
}

/* button style */

button {
  background-color: #3882f6;
  padding: 5px;
  width: 120px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer; /* add this line */
  margin-top: 10px;
}

button:hover {
  background-color: pink;
}

/* call to action style */
.sign-up {
  background-color: #3882f6;
  margin: 50px 100px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
}

.sign-item {
  flex: 1;
}

.signs-text {
  text-align: left;
}

.signs-text p {
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;
}

.sign-up h3 {
  color: #fff;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.signs-button button {
  color: #fff;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882f6;
  padding: 5px 25px;
  font-size: 15px;
}

/* Footer */

.footer {
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  text-align: center;
}
